@charset "utf-8";

/*
PALETA DE CORES:
cor-1  =  #5540C9
cor-2  =  #C1B6F6
cor-3  =  #646697
cor-4  =  #061638
cor-5  =  #49E9BE
cor-6  =  #005139

*/

:root {
    --cor-1: #5540C9;
    --cor-2: #C1B6F6;
    --cor-3: #646697;
    --cor-4: #061638;
    --cor-5: #49E9BE;
    --cor-6: #005139;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor-4);
    box-sizing: border-box;
    padding: 0px 10px;
}

header {
    max-width: 900px;
    background-image: url(../imagens/fio-a-fio.jpg);
    border-radius: 10px;
    margin: 10px 0px;
}

header figure {
    background-color: var(--cor-4);
    border: 4px solid var(--cor-4);
    border-radius: 8px;
    width: max-content;
    overflow: hidden;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

header a:hover {
    color: rgb(38, 138, 13);
}

main {
    box-sizing: border-box;
    background: var(--cor-3);
    margin: 0px auto 10px;
    max-width: 900px;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    text-align: center;
}

main span {
    display: inline-block;

}

.imagem {
    width: 300px;
}

footer {
    color: white;
    box-sizing: border-box;
    margin: 10px auto 10px;
    max-width: 900px;
    background: var(--cor-6);
    border: 3px solid var(--cor-6);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.534);
    text-decoration: underline;
}