@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
}

body {

    border: 8px dashed yellow;


}


/* 
            background: rgb(0, 0, 0) url('imagens/wallpaper003.jpg') center center no-repeat fixed;
            background-size: cover;
            
        

        
        ShortHand - BackGround
        color > image > position > repeat > [size] > attachment
                                              tamanho    anexo
        
        */

header {
    height: 700px;

    background-image: url('../imagens/lash.jfif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 10px solid rgb(255, 0, 0);
    padding: 30px;


}

figure.foto-profissional {

    border: 3px solid black;
    box-shadow: 1px 1px 4px black;
    width: 176px;
    height: 176px;
}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

main {
    height: 60%;
    background-color: rgba(255, 137, 247, 0.571);

    padding: 10px;
    margin: 0px;
    border: 4px solid rgb(13, 255, 0);
}

footer {


    border: 4px solid rgb(30, 0, 255);
    height: 50px;
    background-image: url('../imagens/wallpaper001.jpg');
    background-position: center top;
    background-repeat: repeat;
    background-size: 340px;

}

footer>p {
    text-align: center;
    font-size: bold;

}