@charset "utf-8";

/*
PALETA DE CORES:
cor-1  =  #5540C9
cor-2  =  #C1B6F6
cor-3  =  #646697
cor-4  =  #061638
cor-5  =  #49E9BE
cor-6  =  #005139

*/

:root {
    --cor-1: #5540C9;
    --cor-2: #C1B6F6;
    --cor-3: #646697;
    --cor-4: #061638;
    --cor-5: #49E9BE;
    --cor-6: #005139;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}


body {
    max-width: 800px;
    margin: auto;
    background-color: var(--cor-2);
    border: 3px solid red;
    border-radius: 20px;
}

header {
    height: 400px;
    background: url(../imagens/fio-a-fio.jpg) no-repeat top center;
    background-size: cover;
}

figure>img {
    width: max-content;
    height: max-content;
}

button {
    cursor: pointer;
}

header>figure>a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: max-content;
    display: block;
    background-color: blue;
    color: white;
    text-decoration: none;
}

.imagem {
    width: 200px;
}

main {

}
footer {
    background-color: black;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-size: .7em;
    text-align: center;
}

footer>p {
    display: inline-block;
}

footer>a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

footer>a:hover {
    color: rgba(255, 255, 255, 0.444);
    transition: .5s;
}

footer>a>img {
    position: relative;
    top: 2px;
    border-radius: 10px;
}